<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- SecurityToken you will get it from Your Name > My Settings > Personal > Reset My Security Token (Salesforce will send Security Token to your email addresss) -->
    <add key="SecurityToken" value="paste Security Token here" />
    <!-- ConsumerKey and ConsumerSecret will get it from Set Up > Create > Apps > Check in Connected Apps -->
    <add key="ConsumerKey" value="paste Consume Key here" />
    <add key="ConsumerSecret" value="paste Consume Secret here" />
    <!-- Your Login Id -->
    <add key="Username" value="paste Username here" />
    <!-- Password is be Password+SecurityToken (concatenate both of them) -->
    <add key="Password" value="PasswrdSecurityToken (no spaces between them)" />
    <add key="IsSandboxUser" value="True" />
  </appSettings>
</configuration>
